@font-face {
    font-family: SF Pro Rounded Regular;
    src: url(SF_Pro_Rounded_Regular.ttf);
 }

body {
    background-color: darkslategrey;
}

h1 {
    font-family: SF Pro Rounded Regular;
    color: chartreuse;
}

p1 {
    color: blue;
}